---
import image from "/social-image.png";
const description =
  "A The Graph-like event indexer, for the FEVM, where you specify Handlers by Smart Contract or default Handlers for a specific Event.";
const title = "Dora, the TipsetExplorer";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <title>Dora, the TipsetExplorer</title>
    <meta
      name="description"
      content={description}
    />
    <meta
      name="keywords"
      content="tipset, fvm, fevm, event indexer, filecoin, blockchain, handlers"
    />
    <meta
      name="og:title"
      content={title}
    />
    <meta
      name="og:description"
      content={description}
    />
    <meta
      name="og:image"
      content={image}
    />
    <meta
      property="og:title"
      content={title}
    />
    <meta
      name="twitter:title"
      content={title}
    />
    <meta
      name="twitter:description"
      content={description}
    />
    <meta
      name="twitter:image"
      content={image}
    />
    <meta
      name="twitter:card"
      content="summary_large_image"
    />
  </head>

  <body class="bg-black text-white font-poppins antialiased selection:bg-[rgba(254,216,102,0.7)]">
    <slot />
  </body>
</html>
